wrapper{
    /* width: 100%; */
    display: flex;
    justify-content: space-around;
    flex-basis: 90%;
    flex-wrap: wrap;
}
.wrapper Img{
    /* justify-content: space-around; */
}
.img-holder{
    width: 300px;
    object-position: center;
    /* overflow: hidden; */
    /* background: olive; */
}
.img-holder img{
    cursor: pointer;
    object-position: center;
    object-fit: cover;
    height: 150px;
    width: 300px;
    border: 6px solid white;
    transition: all 1s ;
}
/* .img-holder:hover{
    border: none;
    width: 300px;
    overflow: hidden;
} */
/* .img-holder img:hover{
    transform: scale(1.2);
    /* clip: rect(0px,660px,200px,60px); */
    /*
    overflow: hidden;
    border: none;
} */
.img-holder h3{
    
}
.img-holder p{
    
}






/* FOR LEARGE IMAGE */
.top-bar{
    position: absolute;
    /* top: 30px; */
    /* left: 50%; */
    width: 100%;
    padding: 30px 0;
    text-align: center;
    color: white;
    background: rgb(0, 0, 19);
    z-index: 1;
}
.top-bar a{
    position: absolute;
    color: white;
    text-decoration: none;
    right: 40px;
    bottom: 15px;
    z-index: 2;
}
.top-bar .close-icon{
    width: 20px;
    height: 20px;
}
.lg-img-hldr{
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 29);
}
.lg-img-hldr img{
    /* text-align: center; */
    object-position: center;
    object-fit: cover;
    width: 80%;
    height: 100%;
    margin-left: 10%;
}
.bottom-bar{
    position: absolute;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    bottom: 10px;
    color: white;
    background: rgba(0, 0, 19, 0.473);
}